*{
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;
    width:100vw;
    height:100vh;
}
body {
    width:100%;
    height:100%;
    padding:2rem;
    box-sizing:border-box;
}

#root {
    background: linear-gradient(to bottom, #b2b2b2,#909090);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Days One',sans-serif;
}
p {
    font-family: 'Open Sans Condensed',sans-serif;
}
